.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.topbar {
    height: 60px;
    background-color: #f3f2f2 ;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    left: 220px;
    right: 20px;
    position: fixed;
    width: 80%;
    top: 0;
    z-index: 1000;
    margin: 15px;
    margin-left: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.main-content {
    display: flex;
    flex: 1;
    margin-top: 60px; 
}

.sidebar {
    width: 15%;
    background-color: #f3f2f2 ;
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 1rem;
    z-index: 999;
    margin: 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.content {
    margin-left: 17%; 
    padding: 1rem;
    width: calc(100% - 15%);
    overflow-y: auto;
}
