<div id="logoDiv">
<h1>Livana</h1>
</div>

<nav>
    <div class="navElement">
        <a routerLink="EditCommunity" routerLinkActive="active">Edit Community</a>
    </div>
        <div class="navElement">
        <a routerLink="AddUnit" routerLinkActive="active">Add Unit</a>
    </div>
        <div class="navElement">
        <a routerLink="EditCommunity" routerLinkActive="active">Edit Community</a>
    </div>
    <div class="navElement">
        <a routerLink="EditCommunity" routerLinkActive="active">Edit Community</a>
    </div>
        <div class="navElement">
        <a routerLink="EditCommunity" routerLinkActive="active">Edit Community</a>
    </div>
        <div class="navElement">
        <a routerLink="EditCommunity" routerLinkActive="active">Edit Community</a>
    </div>
</nav>